Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default: false
      api:
        flags: api
      parser:
        flags: parser
    patch:
      default: false
      api:
        flags: api
      parser:
        flags: parser

flags:
  api:
    paths:
      - include/
      - src/
    ignore:
      - examples/
  parser:
    paths:
      - parser_sandbox/include
      - parser_sandbox/src
    ignore:
      - parser_sandbox/tests

comment:
  layout: 'reach, diff, files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

[Docs] Generalized grouped tabs
  docs/_static/occa.js
  docs/getting-started.md
  docs/index.html
Due: none

[Docs] groupedVM -> vm
  docs/_static/occa.js
  docs/index.html
Due: none

[Docs] Added lists to tab renderer
  docs/_static/occa.js
  docs/getting-started.md
Due: none

[Docs] Updated getting-started
  docs/_static/occa.js
  docs/getting-started.md
  docs/index.html
Due: none

[Docs] Updated relative imports
  docs/index.html
Due: none

[Docs] Trying assets
  docs/assets/occa.js
  docs/index.html
Due: none

[Docs] Trying without .nojekyll
  docs/.nojekyll
Due: none

[Docs] More tries for assets
  docs/.nojekyll
  docs/index.html
Due: none

[Docs] Added css
  docs/assets/main.css
Due: none

[Docs] Updated css
  docs/assets/occa.css
  docs/index.html
Due: none

[Docs] Updated 'User Guide', updating 'OCCA' section
  docs/_sidebar.md
  docs/assets/occa.css
  docs/index.html
  docs/occa/asynchronous-computing.md
  docs/occa/background-devices.md
  docs/occa/device-streams.md
  docs/occa/device.md
  docs/occa/introduction.md
  docs/occa/kernel.md
  docs/occa/memory.md
  docs/occa/unified-memory.md
  docs/user-guide/command-line-interface.md
  docs/user-guide/getting-started.md
Due: none

[Docs] Trying relative path for github pages
  docs/index.html
Due: none

[Docs] Updated to svg logo
  docs/README.md
  docs/_images/blue-logo.svg
  docs/assets/occa.css
  docs/assets/occa.js
  docs/index.html
  docs/occa/device.md
  docs/occa/introduction.md
Due: none

[Docs] Code blocks escape special markdown chars
  docs/assets/occa.css
  docs/assets/occa.js
  docs/occa/device.md
  docs/occa/memory.md
Due: none

[Docs] More updates to the OCCA section
  docs/_sidebar.md
  docs/assets/occa.js
  docs/index.html
  docs/occa/asynchronous-computing.md
  docs/occa/background-device.md
  docs/occa/background-devices.md
  docs/occa/device-streams.md
  docs/occa/device.md
  docs/occa/introduction.md
  docs/occa/kernel.md
  docs/occa/memory.md
  docs/occa/unified-memory.md
  docs/user-guide/command-line-interface.md
Due: none

[Docs] Added garbage collection
  docs/occa/introduction.md
Due: none

[Sys] Removed Linux-only header for MacOS
  src/tools/sys.cpp
Due: api

[Docs] Updated various sections, added stubs
  docs/_sidebar.md
  docs/api/_sidebar.md
  docs/api/background-device.md
  docs/api/device.md
  docs/api/kernel.md
  docs/api/memory.md
  docs/api/properties.md
  docs/api/stream.md
  docs/customization/attributes.md
  docs/customization/backends.md
  docs/customization/code-transformations.md
  docs/index.html
  docs/okl/atomics.md
  docs/okl/common-mistakes.md
  docs/okl/introduction.md
  docs/okl/loop-parallelism.md
  docs/okl/memory-spaces.md
  docs/okl/tips.md
  docs/user-guide/need-help.md
Due: none

[Docs] Working on API
  docs/api/properties.md
  docs/assets/occa.css
  docs/assets/occa.js
  docs/index.html
Due: none

[Docs] Fixed api styling
  docs/assets/occa.css
  docs/assets/occa.js
Due: none

[Docs] Remove sidebar push
  docs/assets/occa.css
Due: none

[Docs] Remove sidebar push (2)
  docs/assets/occa.css
Due: none

[Docs] Remove sidebar push (3)
  docs/assets/occa.css
Due: none

[Docs] Re-add the sidebar push ()
  docs/assets/occa.css
Due: none

[Docs] Remove sidebar if printing
  docs/assets/occa.css
Due: none

[Docs] More <code> styling changes
  docs/assets/occa.css
  docs/assets/occa.js
  docs/occa/introduction.md
Due: none

[Docs] Cleaned up !> ?> and >
  docs/assets/occa.css
Due: none

[Docs] More styling of !> ?> and >
  docs/assets/occa.css
Due: none

[Docs] Trying Algolia search
  docs/_navbar.md
  docs/index.html
Due: none

[Docs] Removed Algolia search
  docs/_navbar.md
  docs/index.html
Due: none

[Parser] Added namespace and if statements
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Fixed loadBlock and proper ifStatement content load
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
Due: parser

[Parser] Added elif and else
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added while/do-while/switch
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added continue, break, and return
  parser_sandbox/include/operator.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/expression.cpp
  parser_sandbox/src/operator.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/expression.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added default
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added block and pragma
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added goto and gotoLbael
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added classAccess
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added for
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/expression.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/parser.cpp
Due: parser
