Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

[README] Fixed links
  README.md
Due: none

[Examples] Removed unnecessary frees
  examples/2_background_device/main.cpp
Due: none

[Device] Handles allocs of size 0, [Core] Added OCCA_UNSAFE
  Makefile
  include/occa/defines.hpp
  include/occa/kernel.hpp
  include/occa/tools/json.hpp
  scripts/Makefile
  scripts/compiledDefinesTemplate.hpp
  scripts/occa.cpp
  src/device.cpp
  src/memory.cpp
  src/parser/parser.cpp
  src/parser/statement.cpp
  src/tools/json.cpp
  src/tools/string.cpp
  src/tools/sys.cpp
  src/uva.cpp
Due: api

[Memory] Added slice
  include/occa/memory.hpp
  src/memory.cpp
Due: api

[Memory] Used slice for + and +=
  src/memory.cpp
Due: api

[C/Memory] Added slice
  include/occa/c/memory.h
  src/c/memory.cpp
Due: api

[Memory] Added clone()
  include/occa/c/memory.h
  include/occa/kernel.hpp
  include/occa/memory.hpp
  src/c/kernel.cpp
  src/c/memory.cpp
  src/kernel.cpp
  src/memory.cpp
Due: api

[CLI] Cleaned up error printing
  src/tools/cli.cpp
Due: api

[README] Updated http -> https
  README.md
Due: none

[Github] Added pull request template
  .github/pull_request_template.md
Due: none

[Github] Added issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

[Github] Added issue templates (2)
  .github/ISSUE_TEMPLATES/bug_report.md
  .github/ISSUE_TEMPLATES/feature_request.md
Due: none

[Parser/Attribute] Started generalizing attributes, added attribute testing
  parser_sandbox/include/attribute.hpp
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/include/exprNode.hpp
  parser_sandbox/include/keyword.hpp
  parser_sandbox/include/modes/backend.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/token.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/attribute.cpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/exprNode.cpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/modes/backend.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/token.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/expression.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/type.cpp
Due: parser

[Parser/Test] Added print testing for coverage
  parser_sandbox/tests/expression.cpp
Due: none

[Parser/Test] Added print testing for coverage (2)
  parser_sandbox/tests/expression.cpp
Due: none

[Parser] Added dim sizes
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Test] More dim testing
  parser_sandbox/tests/parser.cpp
Due: none

[Parser] Added bitfield and brace initializer with non-variable constexpr
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/parserUtils.hpp
Due: parser

[Parser/Decl] Fixed basetype loading
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Func] Added functions
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/scope.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/tokenContext.cpp
Due: parser

[Parser] Added up
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Scope] Added scopes + variable declarations
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/scope.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Scope] Added scopes typedef + function declarations
  parser_sandbox/include/scope.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Scope] Added errors on redefinitions
  parser_sandbox/include/scope.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Scope] Fixed first-defined error
  parser_sandbox/include/scope.hpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/parserUtils.hpp
Due: parser

[Parser/PP] Expand header filename
  parser_sandbox/src/preprocessor.cpp
Due: parser

[JSON] Removed trailing comma in object output
  src/tools/json.cpp
Due: api

[Parser] keywordTrie -> keywordMap
  parser_sandbox/include/keyword.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/processingStages.hpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/preprocessor.cpp
  parser_sandbox/src/processingStages.cpp
  parser_sandbox/src/tokenizer.cpp
  parser_sandbox/tests/keyword.cpp
  parser_sandbox/tests/preprocessor.cpp
Due: parser

[Parser] Moved up to the parser, merged scopeKeyword into keyword
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/keyword.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/scope.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Fixed loop scopes
  parser_sandbox/include/macro.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/macro.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/preprocessor.cpp
  parser_sandbox/src/specialMacros.cpp
  parser_sandbox/src/statement.cpp
Due: parser

[Expr] Fixed tokenBeforePair on nested pairs
  parser_sandbox/include/expression.hpp
  parser_sandbox/src/expression.cpp
Due: parser

[Primitive] Added more tests
  parser_sandbox/tests/primitive.cpp
Due: none

[Parser] Refactored attributes
  parser_sandbox/include/attribute.hpp
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/scope.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/attribute.cpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/scope.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Attributes] Fixed kwargs deletion
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser/Attributes] Attributes added to the proper statement
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/type.cpp
Due: parser

[Parser/Printer] Nice printing for most statement types
  parser_sandbox/include/printer.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/printer.cpp
  parser_sandbox/src/statement.cpp
Due: parser

[Parser/Transform] Added transforms and updated exprNode from ref -> ptr
  parser_sandbox/include/builtins/transforms.hpp
  parser_sandbox/include/exprNode.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/transform.hpp
  parser_sandbox/src/attribute.cpp
  parser_sandbox/src/builtins/transforms.cpp
  parser_sandbox/src/exprNode.cpp
  parser_sandbox/src/expression.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/transform.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/expression.cpp
  parser_sandbox/tests/type.cpp
Due: parser

[Parser/Transform] Added expr transforms
  parser_sandbox/include/builtins/statementTransforms.hpp
  parser_sandbox/include/exprNode.hpp
  parser_sandbox/include/exprTransform.hpp
  parser_sandbox/include/statementTransform.hpp
  parser_sandbox/src/builtins/statementTransforms.cpp
  parser_sandbox/src/exprNode.cpp
  parser_sandbox/src/exprTransform.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statementTransform.cpp
Due: parser

[Parser] Filled identifiers, added attribute validation
  parser_sandbox/include/attribute.hpp
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/include/builtins/statementTransforms.hpp
  parser_sandbox/include/exprNode.hpp
  parser_sandbox/include/exprTransform.hpp
  parser_sandbox/include/file.hpp
  parser_sandbox/include/keyword.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/token.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/attribute.cpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/builtins/statementTransforms.cpp
  parser_sandbox/src/exprNode.cpp
  parser_sandbox/src/exprTransform.cpp
  parser_sandbox/src/expression.cpp
  parser_sandbox/src/file.cpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/token.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Fixed typedef copy constructor
  parser_sandbox/include/builtins/statementTransforms.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/src/builtins/statementTransforms.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/type.cpp
Due: parser

Path conditions:
  api: any of: include/, src/
  parser: any of: parser_sandbox/include, parser_sandbox/src
