Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default: false
      api:
        flags: api
      parser:
        flags: parser
    patch:
      default: false
      api:
        flags: api
      parser:
        flags: parser

flags:
  api:
    paths:
      - include/
      - src/
    ignore:
      - examples/
  parser:
    paths:
      - parser_sandbox/include
      - parser_sandbox/src
    ignore:
      - parser_sandbox/tests

comment:
  layout: 'reach, diff, files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

[Parser] Added testing for 'too many statements' in conditional
  parser_sandbox/include/parser.hpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Docs] Updated OKL introduction
  docs/_sidebar.md
  docs/assets/occa.css
  docs/assets/occa.js
  docs/okl/introduction.md
  docs/okl/loop-parallelism.md
  docs/user-guide/getting-started.md
Due: none

[Docs] Adding OKL attributes
  docs/_sidebar.md
  docs/assets/occa.css
  docs/assets/occa.js
  docs/index.html
  docs/okl/attributes.md
  docs/okl/common-mistakes.md
  docs/okl/introduction.md
  docs/okl/loops-in-depth.md
  docs/okl/memory-spaces.md
  docs/okl/tips.md
Due: none

[Docs] More updates
  docs/occa/introduction.md
  docs/okl/attributes.md
  docs/okl/introduction.md
  docs/okl/loops-in-depth.md
  docs/user-guide/getting-started.md
Due: none

[Docs] Typo in example
  docs/occa/background-device.md
Due: none

[Docs] Added okl prism extension
  docs/assets/occa.css
  docs/assets/occa.js
Due: none

[Docs] Updated okl prism attributes
  docs/assets/occa.js
Due: none

[README] Update
  README.md
Due: none

[README] Updated doc link
  README.md
Due: none

[README] More styling
  README.md
Due: none

[Docs] Create CNAME
  docs/CNAME
Due: none

[README] Fixed libocca link
  README.md
Due: none

[README] Fixed Documentation link
  README.md
Due: none

[README] Added more links
  README.md
Due: none

[JSON] Allow newline escapes in strings
  parser_sandbox/tests/json.cpp
  src/tools/json.cpp
Due: api

[Bin] Added rpath
  Makefile
  docs/okl/loops-in-depth.md
  parser_sandbox/include/attribute.hpp
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/src/attribute.cpp
Due: parser

[Bin] Added rpath (2)
  Makefile
  docs/assets/occa.css
  docs/okl/loops-in-depth.md
Due: none

[Bin] Added rpath (3)
  Makefile
Due: none

[Docs] Cleaned up getting-started
  docs/assets/occa.js
  docs/user-guide/getting-started.md
Due: none

[Docs] Adding multiple 'main' locations
  docs/_navbar.md
  docs/api/README.md
  docs/api/introduction.md
  docs/api/properties.md
  docs/assets/occa.css
  docs/assets/occa.js
  docs/examples/README.md
  docs/examples/_sidebar.md
  docs/gallery.md
  docs/guide/README.md
  docs/guide/_sidebar.md
  docs/guide/customization/attributes.md
  docs/guide/customization/backends.md
  docs/guide/customization/code-transformations.md
  docs/guide/occa/background-device.md
  docs/guide/occa/device-streams.md
  docs/guide/occa/introduction.md
  docs/guide/occa/unified-memory.md
  docs/guide/okl/atomics.md
  docs/guide/okl/attributes.md
  docs/guide/okl/introduction.md
  docs/guide/okl/loops-in-depth.md
  docs/guide/user-guide/command-line-interface.md
  docs/guide/user-guide/getting-started.md
  docs/guide/user-guide/need-help.md
  docs/index.html
  docs/team.md
Due: none

[Docs] Added GA
  docs/index.html
Due: none

[Docs] Placeholders while splash pages are missing
  docs/examples/README.md
  docs/gallery.md
  docs/team.md
Due: none

[Docs] Cleaned up phone format
  docs/assets/occa.css
  docs/assets/occa.js
  docs/index.html
Due: none

[Docs] Cleaned up phone format (2)
  docs/assets/occa.css
Due: none

[Parser] Added base attribute_t to parser
  parser_sandbox/include/attribute.hpp
  parser_sandbox/include/baseStatement.hpp
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/attribute.cpp
  parser_sandbox/src/baseStatement.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/tokenContext.cpp
Due: parser

[Parser] Adding attribute tests
  parser_sandbox/include/parser.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Properly test for failures (check success = false)
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Cleaned up checkSemicolon checks and cached peek
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added builtin attribute placeholders
  parser_sandbox/include/builtins/attributes.hpp
  parser_sandbox/include/builtins/types.hpp
  parser_sandbox/include/file.hpp
  parser_sandbox/src/builtins/attributes.cpp
  parser_sandbox/src/builtins/types.cpp
  parser_sandbox/src/file.cpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/qualifier.cpp
  parser_sandbox/tests/expression.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/type.cpp
Due: parser

[Docs] Set no-sidebar by default
  docs/index.html
Due: none

[Parser] Updated attribute tests
  parser_sandbox/tests/parser.cpp
Due: none

[Docs] Added history
  docs/_navbar.md
  docs/assets/occa.css
  docs/assets/occa.js
  docs/guide/README.md
  docs/guide/okl/attributes.md
  docs/guide/okl/loops-in-depth.md
  docs/guide/user-guide/getting-started.md
  docs/history.md
Due: none

[Docs] Added team
  README.md
  docs/README.md
  docs/_images/blue-logo.png
  docs/_images/white-logo.png
  docs/assets/images/logo/blue.svg
  docs/assets/images/team/david_medina.jpg
  docs/assets/images/team/lucas_wilcox.jpg
  docs/assets/images/team/tim_warburton.png
  docs/assets/occa.css
  docs/index.html
  docs/team.md
Due: none

[README] Corrected logo path
  README.md
Due: none

[README] Clone with --depth 1 for quick download
  README.md
Due: none

[README] Updated description
  README.md
Due: none
