Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default: false
      api:
        flags: api
      parser:
        flags: parser
    patch:
      default: false
      api:
        flags: api
      parser:
        flags: parser

flags:
  api:
    paths:
      - include/
      - src/
    ignore:
      - examples/
  parser:
    paths:
      - include/occa/lang
      - src/lang
    ignore:
      - tests

comment:
  layout: 'reach, diff, files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

[HIP] Adding HIP backend
  Makefile
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  examples/3_reduction/main.cpp
  include/occa/defines.hpp
  include/occa/lang/modes/hip.hpp
  include/occa/modes/hip.hpp
  include/occa/modes/hip/device.hpp
  include/occa/modes/hip/kernel.hpp
  include/occa/modes/hip/memory.hpp
  include/occa/modes/hip/registration.hpp
  include/occa/modes/hip/utils.hpp
  scripts/Makefile
  scripts/occa.cpp
  scripts/shellTools.sh
  src/lang/modes/hip.cpp
  src/modes/hip/device.cpp
  src/modes/hip/kernel.cpp
  src/modes/hip/memory.cpp
  src/modes/hip/registration.cpp
  src/modes/hip/utils.cpp
Due: api, parser

[OCL] Fix for __local variable scoping issue in OpenCL on AMD hardware
  include/occa/lang/modes/opencl.hpp
  src/lang/modes/opencl.cpp
Due: api, parser

[CLI,#155] Added -v/--verbose flag
  scripts/occa.cpp
Due: none

[CLI,#155] Added -v/--verbose flag (#156)
  scripts/occa.cpp
Due: none

[Props] Changed standard properties to snake_case
  include/occa/defines.hpp
  include/occa/modes/serial/device.hpp
  scripts/occa.cpp
  src/io/cache.cpp
  src/lang/kernelMetadata.cpp
  src/modes/cuda/device.cpp
  src/modes/opencl/device.cpp
  src/modes/openmp/device.cpp
  src/modes/serial/device.cpp
Due: api, parser

[Examples] Updated examples to use snake_case
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  examples/2_background_device/main.cpp
  examples/3_reduction/main.cpp
  examples/5_unified_memory/main.cpp
  examples/6_arrays/main.cpp
  examples/7_streams/main.cpp
  examples/8_mpi/main.cpp
  examples/interop_examples/native/addVectors/main.cpp
  examples/interop_examples/native/reduction/main.cpp
Due: none

[CLI] Updated verbose output
  scripts/occa.cpp
  src/lang/preprocessor.cpp
Due: api, parser

[Kernel] Added OCCA and OKL versions to build.json files
  include/occa/defines.hpp
  src/io/cache.cpp
Due: api

[Kernel] Added include_paths to getKernelProperties()
  src/kernel.cpp
Due: api

[IO] File expansions weren't being used
  src/io/utils.cpp
  src/tools/sys.cpp
Due: api

[Sys] Expansion could have passed the NULL end
  src/tools/sys.cpp
Due: api

[Props] switched to using snake_case in hip backend
  include/occa/modes/hip/device.hpp
  src/modes/hip/device.cpp
  src/modes/hip/kernel.cpp
  src/modes/hip/utils.cpp
Due: api

[Kernel] Added 0-argument kernel and updated python scripts
  Makefile
  include/occa.h
  include/occa/kernel.hpp
  include/occa/kernelOperators.hpp
  include/occa/operators/declarations.hpp
  scripts/setupKernelOperators.py
  scripts/setup_kernel_operators.py
  src/kernel.cpp
  src/kernelOperators.cpp
  src/modes/cuda/kernel.cpp
  src/modes/serial/kernel.cpp
  src/operators/definitions.cpp
  src/operators/runFunctionFromArguments.cpp
  src/tools/runFunction.cpp
  src/tools/sys.cpp
Due: api

[Kernel] MAX_ARGS 50 -> 100 -> 50
  include/occa/kernelOperators.hpp
  scripts/setup_kernel_operators.py
  src/kernelOperators.cpp
  src/tools/runFunction.cpp
Due: api

[Parser] Fixed switch statement printing
  src/lang/statement.cpp
Due: api, parser

HIP Backend for OCCA (#157)
  Makefile
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  examples/3_reduction/main.cpp
  include/occa/defines.hpp
  include/occa/lang/modes/hip.hpp
  include/occa/lang/modes/opencl.hpp
  include/occa/modes/hip.hpp
  include/occa/modes/hip/device.hpp
  include/occa/modes/hip/kernel.hpp
  include/occa/modes/hip/memory.hpp
  include/occa/modes/hip/registration.hpp
  include/occa/modes/hip/utils.hpp
  scripts/Makefile
  scripts/occa.cpp
  scripts/shellTools.sh
  src/lang/modes/hip.cpp
  src/lang/modes/opencl.cpp
  src/modes/hip/device.cpp
  src/modes/hip/kernel.cpp
  src/modes/hip/memory.cpp
  src/modes/hip/registration.cpp
  src/modes/hip/utils.cpp
Due: api, parser

[HIP] PR updates
  include/occa/lang/modes/hip.hpp
  include/occa/modes/hip/device.hpp
  include/occa/modes/hip/kernel.hpp
  include/occa/modes/hip/memory.hpp
  include/occa/modes/hip/utils.hpp
  scripts/Makefile
  src/lang/modes/hip.cpp
  src/modes/hip/device.cpp
  src/modes/hip/kernel.cpp
  src/modes/hip/memory.cpp
  src/modes/hip/registration.cpp
Due: api, parser

[Parser] elifStatement had an extra popUp
  include/occa/lang/scope.hpp
  src/lang/parser.cpp
Due: api, parser

[Parser] Left a 'throw 1' during debugging
  include/occa/lang/scope.hpp
Due: api, parser

XL compiler requires user to include cstdlib for system atof()
  include/occa/tools/string.hpp
Due: api

XL compiler requires user to include cstdlib for system atof() (#165)
  include/occa/tools/string.hpp
Due: api

[GPU] Added getMappedPtr
  include/occa/modes/cuda/memory.hpp
  include/occa/modes/cuda/utils.hpp
  include/occa/modes/opencl/memory.hpp
  include/occa/modes/opencl/utils.hpp
  src/modes/cuda/utils.cpp
  src/modes/opencl/utils.cpp
Due: api

[Parser] Fixed an issue where register variables initialized to values in shared were being migrated in OpenCL mode
  src/lang/modes/opencl.cpp
Due: api, parser

[Parser] Fixed an issue where register variables initialized to values in shared were being migrated in OpenCL mode (#167)
  src/lang/modes/opencl.cpp
Due: api, parser

[Parser] Fixed switch condition free bug
  src/lang/statement.cpp
Due: api, parser

[OKL/Serial] Exclusive array was set at the end, not beginning
  src/lang/modes/serial.cpp
Due: api, parser

[Parser] Arguments weren't loading RHS attributes
  include/occa/lang/attribute.hpp
  include/occa/lang/exprNode.hpp
  src/lang/attribute.cpp
  src/lang/exprNode.cpp
  src/lang/parser.cpp
Due: api, parser

[C] Enable 0-arg kernels
  include/occa.h
  src/io/cache.cpp
  src/lang/modes/opencl.cpp
Due: api, parser

[CI] Moved test launcher into a script for make to capture exit properly
  Makefile
  tests/run_tests
Due: none

[Core] Cleaned up handle freeing
  src/device.cpp
  src/kernel.cpp
  src/memory.cpp
Due: api

[CI] Added io tests
  include/occa/io/fileOpener.hpp
  include/occa/io/utils.hpp
  include/occa/tools/sys.hpp
  src/io/cache.cpp
  src/io/fileOpener.cpp
  src/io/utils.cpp
  src/modes/openmp/utils.cpp
  src/tools/env.cpp
  src/tools/hash.cpp
  src/tools/sys.cpp
  tests/io/cache.cpp
  tests/io/fileOpener.cpp
  tests/io/lock.cpp
  tests/io/utils.cpp
Due: api

[Sys] Moved isFile/isDir to io, added rmrf
  include/occa/tools/sys.hpp
  scripts/occa.cpp
  src/device.cpp
  src/io/cache.cpp
  src/modes/cuda/device.cpp
  src/modes/hip/device.cpp
  src/modes/hip/utils.cpp
  src/modes/opencl/device.cpp
  src/modes/openmp/device.cpp
  src/modes/openmp/utils.cpp
  src/modes/serial/device.cpp
  src/tools/env.cpp
  src/tools/sys.cpp
  tests/io/utils.cpp
Due: api

[CI] Adding io/cache tests
  include/occa/io/cache.hpp
  include/occa/io/lock.hpp
  src/io/cache.cpp
  src/io/lock.cpp
  tests/io/cache.cpp
  tests/io/lock.cpp
Due: api

[CI] Moved tests to tests/src
  Makefile
  tests/files/cleanTest.c
  tests/run_tests
  tests/src/io/cache.cpp
  tests/src/io/fileOpener.cpp
  tests/src/io/lock.cpp
  tests/src/io/utils.cpp
  tests/src/lang/builtins/transforms/finders.cpp
  tests/src/lang/expression.cpp
  tests/src/lang/file.cpp
  tests/src/lang/keyword.cpp
  tests/src/lang/modes/cuda.cpp
  tests/src/lang/modes/okl.cpp
  tests/src/lang/modes/opencl.cpp
  tests/src/lang/modes/openmp.cpp
  tests/src/lang/modes/serial.cpp
  tests/src/lang/parser.cpp
  tests/src/lang/parserUtils.hpp
  tests/src/lang/preprocessor.cpp
  tests/src/lang/primitive.cpp
  tests/src/lang/stream.cpp
  tests/src/lang/tokenContext.cpp
  tests/src/lang/tokenizer.cpp
  tests/src/lang/type.cpp
  tests/src/tools/gc.cpp
  tests/src/tools/json.cpp
  tests/src/tools/trie.cpp
Due: none

[CI] Removed auto-generated files from coverage
  .codecov.yml
Due: none

[CI] Added c/base tests
  include/occa/base.hpp
  include/occa/c/base.h
  include/occa/c/types.hpp
  include/occa/device.hpp
  include/occa/tools/testing.hpp
  src/base.cpp
  src/c/base.cpp
  src/c/types.cpp
  src/device.cpp
  tests/src/c/base.cpp
  tests/src/io/utils.cpp
Due: api

[CI] Added c/properties tests
  Makefile
  include/occa/c/properties.h
  include/occa/tools/json.hpp
  include/occa/tools/testing.hpp
  src/c/properties.cpp
  src/tools/testing.cpp
  tests/src/c/properties.cpp
Due: api

[CI] Added clang coverage flags
  .gitignore
  .travis.yml
  scripts/Makefile
Due: none

[Modes] Removed unused getProperties()
  include/occa/mode.hpp
  include/occa/modes/cuda/registration.hpp
  include/occa/modes/hip/registration.hpp
  include/occa/modes/opencl/registration.hpp
  include/occa/modes/openmp/registration.hpp
  include/occa/modes/serial/registration.hpp
  include/occa/modes/threads/registration.hpp
  src/modes/cuda/registration.cpp
  src/modes/hip/registration.cpp
  src/modes/opencl/registration.cpp
  src/modes/openmp/registration.cpp
  src/modes/serial/registration.cpp
  src/modes/threads/registration.cpp
Due: api

[HIP] Removed HIP comments until the backend is more mature/supported
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  examples/3_reduction/main.cpp
  scripts/occa.cpp
Due: none
