Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

.codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default: false
      api:
        flags: api
      parser:
        flags: parser
    patch:
      default: false
      api:
        flags: api
      parser:
        flags: parser

flags:
  api:
    paths:
      - include/
      - src/
    ignore:
      - examples/
  parser:
    paths:
      - include/occa/lang
      - src/lang
    ignore:
      - tests

comment:
  layout: 'reach, diff, files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

[Parser] Updated how serial handles restrict
  include/occa/lang/modes/cuda.hpp
  include/occa/lang/modes/serial.hpp
  src/lang/modes/cuda.cpp
  src/lang/modes/serial.cpp
  src/lang/modes/withLauncher.cpp
  src/modes/opencl/device.cpp
  tests/lang/modes/openmp.cpp
  tests/lang/modes/serial.cpp
Due: api, parser

[Parser/PP] Added parenCast, fixed preprocessor expansion issue
  include/occa/array/kernels/linalg.okl
  include/occa/lang/exprNode.hpp
  include/occa/lang/expression.hpp
  include/occa/lang/operator.hpp
  include/occa/lang/primitive.hpp
  include/occa/lang/type.hpp
  include/occa/tools/json.hpp
  src/lang/exprNode.cpp
  src/lang/expression.cpp
  src/lang/macro.cpp
  src/lang/operator.cpp
  src/lang/parser.cpp
  src/lang/preprocessor.cpp
  src/lang/primitive.cpp
  src/lang/statement.cpp
  src/lang/statementTransform.cpp
  src/lang/type.cpp
  src/tools/json.cpp
  tests/lang/expression.cpp
Due: api, parser

[Parser] Moved expression methods into the occa::lang::expr namespace
  include/occa/lang/expression.hpp
  src/lang/expression.cpp
  tests/lang/builtins/transforms/finders.cpp
Due: api, parser

[Parser] Swapped ternary unary type
  src/lang/expression.cpp
  src/lang/operator.cpp
Due: api, parser

[Array] Added type casting to pow
  include/occa/array/kernels/linalg.okl
  src/modes/cuda/device.cpp
  src/modes/serial/device.cpp
Due: api

[Parser/Launcher] Fixed dim ordering (was backwards)
  src/lang/modes/withLauncher.cpp
Due: api, parser

[CI] Limiting sanitizer outputs (4MB limit on Travis logs)
  .travis.yml
  Makefile
Due: none

[Lang] withLauncher used wrong inner/outer dims
  src/lang/modes/withLauncher.cpp
Due: api, parser

[Parser] withLauncher success also depends on the host
  include/occa/lang/modes/withLauncher.hpp
  include/occa/lang/parser.hpp
  src/lang/modes/withLauncher.cpp
Due: api, parser

[Test] Updated testing macros
  include/occa/tools/testing.hpp
  tests/lang/builtins/transforms/finders.cpp
  tests/lang/expression.cpp
  tests/lang/keyword.cpp
  tests/lang/modes/cuda.cpp
  tests/lang/modes/okl.cpp
  tests/lang/modes/opencl.cpp
  tests/lang/modes/openmp.cpp
  tests/lang/modes/serial.cpp
  tests/lang/parser.cpp
  tests/lang/parserUtils.hpp
  tests/lang/preprocessor.cpp
  tests/lang/primitive.cpp
  tests/lang/stream.cpp
  tests/lang/tokenContext.cpp
  tests/lang/tokenizer.cpp
  tests/lang/type.cpp
  tests/tools/json.cpp
  tests/tools/trie.cpp
Due: api

[JSON] Better casting between types and tests
  include/occa/io/cache.hpp
  include/occa/tools/json.hpp
  include/occa/tools/json.tpp
  src/io/cache.cpp
  src/lang/kernelMetadata.cpp
  src/modes/cuda/device.cpp
  src/modes/opencl/device.cpp
  src/modes/openmp/device.cpp
  src/modes/serial/device.cpp
  src/tools/json.cpp
  tests/tools/json.cpp
Due: api, parser

[JSON] Updated no-value += tests
  tests/tools/json.cpp
Due: none

[CI] Updated codecov yaml
  .codecov.yml
Due: none

[Kernel] Fixed assembleHeader strings
  src/kernel.cpp
Due: api

[JSON] Swapped dump and toString
  .gitignore
  Makefile
  include/occa/tools/json.hpp
  include/occa/tools/json.tpp
  scripts/occa.cpp
  src/device.cpp
  src/kernel.cpp
  src/lang/kernelMetadata.cpp
  src/lang/parser.cpp
  src/mode.cpp
  src/modes/cuda/device.cpp
  src/modes/opencl/device.cpp
  src/modes/openmp/device.cpp
  src/modes/serial/device.cpp
  src/tools/json.cpp
  tests/tools/json.cpp
Due: api, parser

[IO] Updated buildCache to expand filenames
  src/io/utils.cpp
Due: api

[CLI] Added translate option
  include/occa.hpp
  include/occa/lang/parser.hpp
  scripts/occa.cpp
  src/tools/json.cpp
Due: api, parser

[CLI] Added compile option
  scripts/occa.cpp
Due: none

[Make] Better handling of compiled defines
  Makefile
Due: none

[OKL] restrict -> @restrict
  .codecov.yml
  include/occa/lang/builtins/attributes.hpp
  include/occa/lang/builtins/attributes/restrict.hpp
  include/occa/lang/builtins/types.hpp
  include/occa/lang/modes/cuda.hpp
  include/occa/lang/qualifier.hpp
  src/lang/builtins/attributes/restrict.cpp
  src/lang/builtins/types.cpp
  src/lang/keyword.cpp
  src/lang/modes/cuda.cpp
  src/lang/modes/okl.cpp
  src/lang/modes/opencl.cpp
  src/lang/modes/serial.cpp
  src/lang/qualifier.cpp
  tests/lang/modes/cuda.cpp
  tests/lang/modes/opencl.cpp
  tests/lang/modes/serial.cpp
  tests/lang/parser.cpp
Due: api, parser

[JSON] Minor format fix
  tests/tools/json.cpp
Due: none

[Tokenizer](#142) */ is a valid expression
  include/occa/lang/operator.hpp
  src/lang/operator.cpp
  src/lang/preprocessor.cpp
  src/lang/tokenizer.cpp
  tests/lang/tokenizer.cpp
Due: api, parser

[Expr](#143) subscriptNode wasn't passing index into setChildren
  src/lang/exprNode.cpp
Due: api, parser

[Smnt] elif statement wasn't being copied right
  src/lang/statement.cpp
Due: api, parser

[IO] Fixed ~/ expansion
  src/io/utils.cpp
Due: api

[Memory] Added initialization checks before calls
  src/memory.cpp
Due: api

[Parser] Attributes were being set incorrectly in nested statements
  src/lang/parser.cpp
Due: api, parser

[OKL] Added <type>{2,3,4} (such as double2, double3, double4)
  include/occa/lang/builtins/types.hpp
  src/lang/builtins/types.cpp
  src/lang/keyword.cpp
  src/lang/modes/serial.cpp
Due: api, parser

Makefile: fix shell diff
  Makefile
Due: none

[Makefile] Fix shell diff (#146)
  Makefile
Due: none

[#145] Added dlerror messages to dlopen and dlsym
  src/tools/sys.cpp
Due: api

[#147] Fixed statement attributes getting overridden
  include/occa/lang/parser.hpp
  src/lang/parser.cpp
Due: api, parser

[#140] Added type expansion to get around issue #136
  src/lang/modes/opencl.cpp
  src/lang/type.cpp
Due: api, parser

[Linalg] Fixed reduction RETTYPE locations
  include/occa/array/kernels/linalg.okl
  include/occa/array/linalg.tpp
  src/kernel.cpp
Due: api

[#133] Added vartype nodes for parenCast expressions
  include/occa/lang/exprNode.hpp
  include/occa/lang/parser.hpp
  include/occa/lang/token.hpp
  include/occa/lang/tokenContext.hpp
  include/occa/lang/type.hpp
  src/lang/exprNode.cpp
  src/lang/expression.cpp
  src/lang/parser.cpp
  src/lang/token.cpp
  src/lang/tokenContext.cpp
  src/lang/type.cpp
Due: api, parser

[README] Updated occa --help
  README.md
Due: none

[Test] Updated tests to match previous changes
  tests/lang/parser.cpp
  tests/lang/tokenContext.cpp
Due: none

[OKL] oklForStatements check the iterator's base type
  src/lang/modes/oklForStatement.cpp
Due: api, parser

[OKL,CLI] Added 'include-path' kernelProp, added -I/-D to occa translate and occa compile
  include/occa/lang/preprocessor.hpp
  scripts/occa.cpp
  src/lang/parser.cpp
  src/lang/preprocessor.cpp
  src/tools/cli.cpp
Due: api, parser

[CLI] Added kernel props in occa translate header
  scripts/occa.cpp
Due: none
