Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

[CI] Split api and parser coverages
  .codecov.yml
  .travis.yml
Due: none

[Parser] Added variable loading
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/tokenContext.cpp
Due: parser

[Parser] Updated type assertion
  parser_sandbox/tests/parser.cpp
Due: none

[Parser] Added function pointer loading
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/token.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/token.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/tokenContext.cpp
Due: parser

[Parser] Function pointer arrays should create a type_t of function pointers instead
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added argument detection
  parser_sandbox/include/parser.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Argument commas -> argRange
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Generalized loadVariable
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/type.cpp
Due: parser

[Parser] Added argument loading
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/tests/parser.cpp
Due: parser

[Parser] Added declaration statements
  parser_sandbox/include/parser.hpp
  parser_sandbox/include/statement.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/operator.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/tokenContext.cpp
Due: parser

[Preprocessor] Proper newline removal
  parser_sandbox/include/preprocessor.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/preprocessor.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/preprocessor.cpp
Due: parser

[Kernel] Added occa::getKernelProperties() to default key types
  Makefile
  examples/1_add_vectors/c/Makefile
  examples/1_add_vectors/c/addVectors.okl
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/Makefile
  examples/1_add_vectors/cpp/addVectors.okl
  examples/1_add_vectors/cpp/main.cpp
  examples/2_background_device/Makefile
  examples/2_background_device/addVectors.okl
  examples/3_reduction/Makefile
  examples/3_reduction/reduction.okl
  examples/4_building_kernels/Makefile
  examples/5_unified_memory/Makefile
  examples/5_unified_memory/addVectors.okl
  examples/6_arrays/Makefile
  examples/6_arrays/smallTranspose.okl
  examples/7_streams/Makefile
  examples/7_streams/addVectors.okl
  examples/8_mpi/Makefile
  examples/8_mpi/addVectors.okl
  include/occa/kernel.hpp
  scripts/Makefile
  src/kernel.cpp
Due: api

[C] Updated the C API
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  include/occa.h
  include/occa/c/defines.h
  include/occa/c/device.h
  include/occa/c/kernel.h
  include/occa/c/memory.h
  include/occa/c/properties.h
  include/occa/c/types.h
  include/occa/c/types.hpp
  include/occa/c_wrapper.hpp
  include/occa/device.hpp
  include/occa/kernel.hpp
  include/occa/operators/cKernelOperators.hpp
  src/c/device.cpp
  src/c/kernel.cpp
  src/c/memory.cpp
  src/c/properties.cpp
  src/c/types.cpp
  src/c_wrapper.cpp
  src/device.cpp
  src/kernel.cpp
  src/operators/cKernelOperators.cpp
Due: api

[C] Filled missing API methods
  examples/1_add_vectors/cpp/main.cpp
  include/occa.h
  include/occa/c/base.h
  include/occa/c/device.h
  include/occa/c/kernel.h
  include/occa/c/memory.h
  include/occa/c/types.h
  include/occa/memory.hpp
  src/c/base.cpp
  src/c/device.cpp
  src/c/kernel.cpp
  src/c/memory.cpp
  src/memory.cpp
Due: api

[C] Fix on property ref
  parser_sandbox/include/statement.hpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/statement.cpp
  parser_sandbox/tests/parser.cpp
  src/c/device.cpp
Due: api, parser

[C] Updated kernel/memory properties from device
  include/occa/device.hpp
  parser_sandbox/tests/parser.cpp
  src/device.cpp
Due: api

[Parser/Type] Added origins to types and qualifiers
  parser_sandbox/include/qualifier.hpp
  parser_sandbox/include/tokenContext.hpp
  parser_sandbox/include/type.hpp
  parser_sandbox/include/variable.hpp
  parser_sandbox/src/keyword.cpp
  parser_sandbox/src/parser.cpp
  parser_sandbox/src/qualifier.cpp
  parser_sandbox/src/token.cpp
  parser_sandbox/src/tokenContext.cpp
  parser_sandbox/src/type.cpp
  parser_sandbox/src/variable.cpp
  parser_sandbox/tests/expression.cpp
  parser_sandbox/tests/parser.cpp
  parser_sandbox/tests/type.cpp
Due: parser

[Settings] verboseCompilation -> verbose-compilation, [C] Added occaBool
  include/occa/c/types.h
  include/occa/c/types.hpp
  src/c/properties.cpp
  src/c/types.cpp
  src/device.cpp
  src/modes/cuda/kernel.cpp
  src/modes/opencl/kernel.cpp
  src/modes/opencl/utils.cpp
  src/modes/serial/kernel.cpp
  src/tools/env.cpp
  src/tools/sys.cpp
Due: api

[C] Added magic header to occaType for kernel launch safety
  include/occa/c/defines.h
  include/occa/c/types.h
  src/c/kernel.cpp
  src/c/types.cpp
Due: api

[C] Remove ambiguous call in some compilers
  src/c/kernel.cpp
Due: api

[C] Fix on occaPtr
  include/occa/c/types.hpp
  src/c/types.cpp
Due: api

[JSON] Added unicode char loading
  parser_sandbox/tests/json.cpp
  src/tools/json.cpp
Due: api

[Device] Pass settings properties, added mode-specific properties
  src/device.cpp
Due: api

[Props] Updated how verbose works
  Makefile
  include/occa/modes/opencl/utils.hpp
  include/occa/tools/string.hpp
  src/device.cpp
  src/modes/cuda/kernel.cpp
  src/modes/opencl/kernel.cpp
  src/modes/opencl/utils.cpp
  src/modes/serial/kernel.cpp
  src/tools/env.cpp
  src/tools/string.cpp
  src/tools/sys.cpp
Due: api

[Example] Added verbose example
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
Due: none

[Kernel] Removed kernel from cache when freed
  include/occa/defines.hpp
  include/occa/device.hpp
  include/occa/kernel.hpp
  src/base.cpp
  src/device.cpp
  src/kernel.cpp
  src/modes/cuda/kernel.cpp
  src/modes/opencl/kernel.cpp
  src/modes/serial/kernel.cpp
  src/tools/io.cpp
Due: api

initSignalHandling: do not attempt to catch SIGKILL
  src/tools/env.cpp
Due: api

[Mode] Cleaned up mode registration
  include/occa/mode.hpp
  include/occa/modes/cuda/registration.hpp
  include/occa/modes/opencl/registration.hpp
  include/occa/modes/openmp/registration.hpp
  include/occa/modes/serial/registration.hpp
  include/occa/modes/threads/registration.hpp
  src/mode.cpp
  src/modes/cuda/registration.cpp
  src/modes/opencl/registration.cpp
  src/modes/openmp/registration.cpp
  src/modes/serial/registration.cpp
  src/modes/threads/registration.cpp
Due: api

[Sys] Remove SIGKILL from exit handler (#100)
  src/tools/env.cpp
Due: api

[OpenMP] Propertly defaults to Serial depending on the compiler
  include/occa/kernel.hpp
  include/occa/modes/cuda/device.hpp
  include/occa/modes/cuda/kernel.hpp
  include/occa/modes/opencl/device.hpp
  include/occa/modes/opencl/kernel.hpp
  include/occa/modes/openmp/device.hpp
  include/occa/modes/openmp/kernel.hpp
  include/occa/modes/serial/device.hpp
  include/occa/modes/serial/kernel.hpp
  include/occa/modes/threads/device.hpp
  include/occa/modes/threads/kernel.hpp
  src/mode.cpp
  src/modes/cuda/device.cpp
  src/modes/cuda/kernel.cpp
  src/modes/opencl/device.cpp
  src/modes/opencl/kernel.cpp
  src/modes/openmp/device.cpp
  src/modes/serial/device.cpp
  src/modes/serial/kernel.cpp
Due: api

[Mode] Cleaned up default case
  src/mode.cpp
Due: api

[Defines] Removed OCCA_DEBUG_ENABLED and OCCA_CHECK_ENABLED
  Makefile
  include/occa/defines/VisualStudio.hpp
  include/occa/tools/cli.hpp
  include/occa/tools/styling.hpp
  scripts/compiledDefinesTemplate.hpp
  scripts/occa.cpp
  src/modes/cuda/device.cpp
  src/modes/opencl/device.cpp
  src/modes/serial/device.cpp
  src/modes/serial/kernel.cpp
  src/modes/serial/registration.cpp
  src/tools/cli.cpp
  src/tools/styling.cpp
  src/tools/sys.cpp
Due: api

[Sys] Added pidExists, cleaned up headers
  include/occa/tools/sys.hpp
  src/tools/env.cpp
  src/tools/io.cpp
  src/tools/sys.cpp
Due: api

[Docs] Moving docs over
  docs/.nojekyll
  docs/README.md
  docs/_images/blue-logo.png
  docs/_images/white-logo.png
  docs/_sidebar.md
  docs/_static/occa.js
  docs/getting-started.md
  docs/index.html
Due: none

[Docs] Cleaned up main page
  docs/README.md
Due: none

[Docs] Cleaned up main page (2)
  docs/README.md
Due: none

[Core] OCCA_OSX_OS -> OCCA_MACOS_OS
  docs/_static/occa.js
  docs/getting-started.md
  examples/opengl_examples/fd2d/Makefile
  examples/opengl_examples/fd2d/include/visualizer.hpp
  examples/opengl_examples/mandelbulb/Makefile
  examples/opengl_examples/mandelbulb/include/visualizer.hpp
  include/occa/c/defines.h
  include/occa/defines.hpp
  include/occa/defines/cpuMode.hpp
  include/occa/modes/opencl/headers.hpp
  include/occa/modes/threads/device.hpp
  include/occa/modes/threads/headers.hpp
  include/occa/par/tls.hpp
  include/occa/par/tls.tpp
  include/occa/parser/defines.hpp
  include/occa/tools/sys.hpp
  scripts/Makefile
  scripts/compiledDefinesTemplate.hpp
  src/modes/cuda/kernel.cpp
  src/modes/openmp/utils.cpp
  src/modes/serial/device.cpp
  src/modes/serial/kernel.cpp
  src/modes/threads/device.cpp
  src/tools/env.cpp
  src/tools/io.cpp
  src/tools/string.cpp
  src/tools/sys.cpp
Due: api

[Core] Typo usingMacOSS -> usingMacOS
  examples/opengl_examples/fd2d/Makefile
  examples/opengl_examples/mandelbulb/Makefile
  scripts/Makefile
Due: none

[Docs] Generalized tabs
  docs/_static/occa.js
  docs/getting-started.md
Due: none

[Docs] Added header and footer
  docs/_static/occa.js
  docs/index.html
Due: none

Path conditions:
  api: any of: include/, src/
  parser: any of: parser_sandbox/include, parser_sandbox/src
