Repository libocca/occa: changes, and which Codecov flags are due for each by the changed paths.
All: api, parser

[Threads] Removed Threads comments until the backend is fixed
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
Due: none

[CI] Split tokenizer tests (clang compilation with --coverage takes too long)
  tests/src/lang/tokenizer.cpp
  tests/src/lang/tokenizer/methods.cpp
  tests/src/lang/tokenizer/misc.cpp
  tests/src/lang/tokenizer/movement.cpp
  tests/src/lang/tokenizer/string.cpp
  tests/src/lang/tokenizer/token.cpp
  tests/src/lang/tokenizer/utils.hpp
Due: none

[Refactor] Switched last of the #include "" -> #include <>
  examples/1_add_vectors/c/main.c
  examples/1_add_vectors/cpp/main.cpp
  examples/interop_examples/cuda/main.cpp
  examples/opengl_examples/fd2d/main.cpp
  examples/opengl_examples/mandelbulb/main.cpp
  include/occa.h
  include/occa/c/base.h
  include/occa/c/defines.h
  include/occa/c/device.h
  include/occa/c/kernel.h
  include/occa/c/memory.h
  include/occa/c/properties.h
  include/occa/c/types.h
  tests/src/lang/tokenizer/methods.cpp
  tests/src/lang/tokenizer/misc.cpp
  tests/src/lang/tokenizer/utils.hpp
Due: api

[TechDebt] #include tpp files are now all the same way
  include/occa/array/array.hpp
  include/occa/array/linalg.hpp
  include/occa/lang/parser.hpp
  include/occa/lang/stream.hpp
  include/occa/tools/cli.hpp
  include/occa/tools/cli.tpp
  include/occa/tools/json.hpp
  include/occa/tools/tls.hpp
  include/occa/tools/trie.hpp
  tests/src/c/properties.cpp
  tests/src/io/cache.cpp
Due: api, parser

[CI] Updated codecov
  .codecov.yml
Due: none

[CLI,#154] Cleaned up API
  include/occa/kernel.hpp
  include/occa/tools/cli.hpp
  include/occa/tools/cli.tpp
  scripts/occa.cpp
  src/kernel.cpp
  src/tools/cli.cpp
Due: api

[CLI] Added option default value
  include/occa/tools/cli.hpp
  src/tools/cli.cpp
Due: api

[Examples] Added arg parsing to make examples more interactive
  Makefile
  examples/1_add_vectors/cpp/main.cpp
  examples/2_background_device/main.cpp
  examples/3_reduction/main.cpp
  examples/4_building_kernels/main.cpp
  examples/5_unified_memory/main.cpp
  examples/6_arrays/main.cpp
  examples/7_streams/main.cpp
  include/occa/tools/cli.hpp
  scripts/occa.cpp
  src/tools/cli.cpp
Due: api

[CI] Shortened codecov output in Travis
  .travis.yml
Due: none

[CI] Added mode iteration for tests
  Makefile
  tests/run_examples
Due: none

[Examples] Fixed --device description
  examples/1_add_vectors/cpp/main.cpp
  examples/2_background_device/main.cpp
  examples/3_reduction/main.cpp
  examples/4_building_kernels/main.cpp
  examples/5_unified_memory/main.cpp
  examples/6_arrays/main.cpp
  examples/7_streams/main.cpp
  tests/run_examples
Due: none

[CI] Added build job names
  .travis.yml
Due: none

[CI] Removed OpenCL from Travis due to work-size issues
  tests/run_examples
Due: none

[Defines] Updated OCCA and OKL version numbers
  include/occa/defines.hpp
Due: api

[Sys] Added occa::exception
  include/occa/defines.hpp
  include/occa/tools/exception.hpp
  include/occa/tools/sys.hpp
  src/lang/expression.cpp
  src/tools/exception.cpp
  src/tools/sys.cpp
Due: api, parser

[CI] Added throw and nothrow assertions
  include/occa/tools/testing.hpp
  src/c/properties.cpp
  tests/src/c/properties.cpp
Due: api

[CI] Removed exception from coverage
  .codecov.yml
Due: none

[CI] Updated travis build names
  .travis.yml
Due: none

[OpenMP] Was using Serial parser
  include/occa/modes/openmp/device.hpp
  src/modes/openmp/device.cpp
Due: api

[CI] Updated io tests
  include/occa/io/lock.hpp
  src/c/kernel.cpp
  src/io/lock.cpp
  src/io/utils.cpp
  tests/src/io/fileOpener.cpp
  tests/src/io/lock.cpp
  tests/src/io/utils.cpp
Due: api

[CI] Updated io/lock and io/utils tests
  tests/src/io/lock.cpp
  tests/src/io/utils.cpp
Due: none

[CI] Updated io/lock and io/cache tests
  include/occa/io/cache.hpp
  src/io/cache.cpp
  tests/src/io/cache.cpp
  tests/src/io/lock.cpp
Due: api

[CI] Added mode and uva tests
  include/occa/tools/testing.hpp
  include/occa/uva.hpp
  src/memory.cpp
  src/uva.cpp
  tests/src/mode.cpp
  tests/src/uva.cpp
Due: api

[CI] Updated uva tests
  include/occa/uva.hpp
  src/uva.cpp
  tests/src/uva.cpp
Due: api

[CI] Added types tests
  include/occa/types.hpp
  src/types.cpp
  tests/src/types.cpp
Due: api

[CI] Updated types and uva tests
  include/occa/tools/testing.hpp
  include/occa/uva.hpp
  src/memory.cpp
  src/modes/serial/device.cpp
  src/tools/exception.cpp
  src/uva.cpp
  tests/src/types.cpp
  tests/src/uva.cpp
Due: api

[CI] Removed GPU modes from code-coverage
  .codecov.yml
Due: none

[CI] Testing coverage flags, updated json tests
  .travis.yml
  scripts/Makefile
  tests/src/c/properties.cpp
  tests/src/c/types.cpp
  tests/src/tools/json.cpp
Due: none

[CI] Added testing tests
  include/occa/tools/testing.hpp
  src/tools/testing.cpp
  tests/src/tools/testing.cpp
Due: api

[Make] links -> linkerFlags
  Makefile
  examples/1_add_vectors/c/Makefile
  examples/1_add_vectors/cpp/Makefile
  examples/2_background_device/Makefile
  examples/3_reduction/Makefile
  examples/4_building_kernels/Makefile
  examples/5_unified_memory/Makefile
  examples/6_arrays/Makefile
  examples/7_streams/Makefile
  examples/8_mpi/Makefile
  examples/interop_examples/cuda/Makefile
  examples/interop_examples/native/addVectors/Makefile
  examples/interop_examples/native/reduction/Makefile
  examples/interop_examples/opencl/Makefile
  examples/interop_examples/openmp/Makefile
  examples/opengl_examples/fd2d/Makefile
  examples/opengl_examples/mandelbulb/Makefile
  scripts/Makefile
Due: none

[CI] Added more json tests
  tests/src/tools/json.cpp
Due: none

[CI] Added string tests
  include/occa/tools/string.hpp
  src/tools/lex.cpp
  src/tools/string.cpp
  tests/src/tools/string.cpp
Due: api

[CI] Fixed primitive float load
  src/lang/primitive.cpp
  tests/src/lang/primitive.cpp
Due: api, parser

[CI] Updated c/types tests
  tests/src/c/types.cpp
Due: none

[CI] Updated c/types tests
  src/c/types.cpp
  tests/src/c/types.cpp
Due: api

[CI] Updated c/types and c/base tests
  include/occa/c/base.h
  src/c/base.cpp
  tests/src/c/base.cpp
  tests/src/c/memory.cpp
  tests/src/c/types.cpp
Due: api

[Kernel] Fixed Serial name bug, [CI] Updated c/base, c/properties, c/base tests
  include/occa/c/base.h
  src/base.cpp
  src/c/base.cpp
  src/c/properties.cpp
  src/c/types.cpp
  src/device.cpp
  src/modes/opencl/device.cpp
  src/modes/serial/device.cpp
  tests/files/addVectors.okl
  tests/src/c/base.cpp
Due: api

[CI] Updated c/properties tests
  include/occa/c/types.h
  src/c/properties.cpp
  src/c/types.cpp
  tests/src/c/properties.cpp
Due: api

Path conditions:
  api: any of: include/, src/
  parser: any of: include/occa/lang, src/lang
